$size: 30px;

.number {
	display: inline-block;
	font-size: 12px;
	width: $size;
	height: $size;
	line-height: $size;
	text-align: center;
	border: 1px solid $white;
	border-radius: $size;
	transition: background 0.5s linear;	 
	 &:hover {
	 	cursor: pointer;
	 	color: $blue;
		background: $white;
	 };
}

.active {
 	color: $blue;
	background: $white;
  transition: background 0.5s linear;
}