@media screen and (max-width: 900px) {
  .logo {
    display: none;
  }
}

@media screen and (max-width: 870px) {
  //.container {
  //  display: flex;
  //  flex-direction: row-reverse;
  //  width: 100%;
  //
  //}
  //.child {
  //  width: 100% !important;
  //
  //}
  .child:nth-child(2n){
    margin-top: 40px;
    order: 1;
  }
}

@media screen and (max-width: 500px) {
  video {
    width: 100%
  }
}