{% block dia %}
<div class="slide"></div>
<div class="slide"></div>
<div class="slide"><video width="400" height="400" muted><source src="./plugin_popup.mp4" type="video/mp4"></video></div>
<div class="slide"><video width="400" height="400" muted><source src="./plugin_inuse.mp4" type="video/mp4"></video></div>
<div class="slide__controls">
	<span class="number" data-number="0">1</span>
	<span class="number" data-number="1">2</span>
	<span class="number" data-number="2">3</span>
	<span class="number" data-number="3">4</span>
</div>
{% endblock %}

